<ion-header [translucent]="true" mode="ios">
  <ion-toolbar mode="ios" style="box-shadow: 0px 7px 7px -4px rgba(0,0,0,0.12);" [translucent]="true">
    <div class="menu-top">
    <ion-buttons slot="start" >
      <ion-menu-button size="large" color="dark"></ion-menu-button>
    </ion-buttons>
  </div>
  <div class="info-top">
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="help-circle" size="large" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
      <div class="img-logo">
      <img src="../../assets/logo.svg" height="25px">
    </div>
    <div class="bienvenido">
      <h1 style="font-weight:700">Pedidos</h1>
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ion-item lines="full" *ngFor="let p of pedido" class="ion-text-wrap">
    <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="2" class="ion-align-self-center">
        <ion-button color="dark" fill="clear" (click)="disminuir(p)">
          <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
        </ion-button>

      </ion-col>
      <ion-col size="1" class="ion-align-self-center">
        <p>{{p.amount}}</p>
      </ion-col>
  <ion-col size="2" class="ion-align-self-center">
        <ion-button color="dark" fill="clear" (click)="incrementar(p)">
          <ion-icon name="add-circle" slot="icon-only"></ion-icon>
        </ion-button>
  </ion-col>

  <ion-col size="2" offset="5">
    <ion-button color="dark" fill="clear" (click)="eliminar(p)">
      <ion-icon name="close-circle" slot="icon-only"></ion-icon>
    </ion-button>
</ion-col>

      <ion-col size="9">
        <img [src]="p.FOOD" alt="" style="   
        display: inline-block;
        position: relative; 
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        margin-top: -10px;">
        <b
        style="
        display: inline-block;
        position: fixed;
        margin-left: 15px;">{{ p.NAME }}</b>
      </ion-col>
      <ion-col size="3" class="ion-text-end">
       <p style="    position: fixed;
       margin-top: -17px;
       margin-left: -7px;"> {{p.amount * p.PRICE | currency: 'MXN':true:'1.0'}}</p>
      </ion-col>

    </ion-row>
  </ion-grid>
  </ion-item>
  <ion-item lines="full">
<ion-grid>
  <ion-row>
    <ion-col size="6">
      TOTAL:
    </ion-col>
    <ion-col size="6" class="ion-text-end">
      {{ getTotal() | currency:'MXN'}}
    </ion-col>
    
  </ion-row>
</ion-grid>
  </ion-item>
</ion-list>
<ion-button expand="full" color="dark">
  Realizar pedido</ion-button>
</ion-content>
