*{
    font-family: "SF Display";
}
.bienvenido{
    margin: auto;
    margin-top: 115px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 700;
    
}
.subtitle{
    font-size: 18px;
    margin-top:-35px;
    margin-left: 53px;
    margin-bottom: 30px;
}
.menu-top{
    margin-top:30px;
    display: inline-block;
    margin-left: 20px;
}
.info-top{
    margin-top:30px;
    display: inline-block;
    margin-right: 20px;
    float: right;
}
.img-logo{
    margin: auto;
    text-align: center;
    margin-top: -33px;
    margin-bottom: -68px;
    margin-left: 62px;
  
}