<ion-header [translucent]="true" color="dark">
  <ion-toolbar mode="ios"  style="box-shadow: 0px 7px 7px -4px rgba(0,0,0,0.12); background-color: black;">
    <div class="menu-top">
    <ion-buttons slot="start" >
      <ion-menu-button size="large" color="light"></ion-menu-button>
    </ion-buttons>
  </div>
  <div class="info-top">
    <ion-buttons slot="primary">
      <ion-button [routerLink]="'/ayuda/'">
        <ion-icon name="help-circle" size="large" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
      <div class="img-logo">
      <img src="../../assets/icon/icon-amore.svg" height="30px" [routerLink]="'/home/'">
    </div>
    <div class="bienvenido">
      <h1 style="font-weight:700">Alitas & Burger</h1>
    </div>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-fab vertical="top" horizontal="end" slot="fixed" style="margin-top: -39px;right: 27px;" 
  *ngIf="(contador | async)!==0">
    <ion-fab-button color="danger" (click)="VerPedido()">
      <div>
        <p>{{ contador | async}}</p>
      </div>
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="chips" style="margin: auto; text-align: center;">
        <ion-chip outline color="danger" style="border-width: 2px;padding: 17px;border-color: #ff7373;" [routerLink]="'/burger/'">
          <ion-icon name="restaurant" style="color: black;"></ion-icon>
          <ion-label style="color: black;">burger</ion-label>
        </ion-chip>
    
        <ion-chip outline color="danger"  style="border-width: 2px;padding: 17px;border-color: #ff7373;" [routerLink]="'/bebidas/'">
          <ion-icon name="restaurant" style="color: black;"></ion-icon>
          <ion-label style="color: black;">Michelada</ion-label>
        </ion-chip>
      </div>
      <ion-searchbar mode="ios"></ion-searchbar>
      
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
        <ion-fab-button color="danger" [routerLink]="'/home/'">
          <ion-icon name="home"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-card mode="ios" *ngFor="let b of foodlist ;let i=index">
        <ion-grid>
          <ion-row responsive-sm>
            <ion-col size-lg="4" size-md="4" size-sm="4" size-xs="6">
              <div class="img-dis">
              <img [src]="b.IMAGEN"/></div>
            </ion-col>
            <ion-col size="6" size-lg="4" size-xs="6">
              <div class="names">
              <h1>{{b.NAME}}</h1>
              <div class="details">
                <ion-select placeholder="Sabores disponibles">
                  <ion-select-option value="BBQ">{{b.SABOR[0]}}</ion-select-option>
                  <ion-select-option value="BBQ PICOSA">{{b.SABOR[1]}}</ion-select-option>
                  <ion-select-option value="BUFALO">{{b.SABOR[2]}}</ion-select-option>
                  <ion-select-option value="TAMARINDO HABANERO">{{b.SABOR[3]}}</ion-select-option>
                  <ion-select-option value="MANGO HABANERO">{{b.SABOR[4]}}</ion-select-option>
                </ion-select>
            </div>
              <p > 
                {{b.DETALLE}}</p>
            </div>
            <div class="prices">
           <h1>${{b.PRICE}}</h1></div>
           <div class="buts">
             <ion-button mode="ios" color="dark" size="small" (click)="agregar(b)">Pedir</ion-button>
            </div>
        </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <div class="text-info">
        <h1>Las imágenes mostradas son de uso referencial</h1>
      </div>
</ion-content>
