<ion-header [translucent]="true" color="dark">
  <ion-toolbar mode="ios"  style="box-shadow: 0px 7px 7px -4px rgba(0,0,0,0.12); background-color: black;">
    <div class="menu-top">
    <ion-buttons slot="start" >
      <ion-menu-button size="large" color="light"></ion-menu-button>
    </ion-buttons>
  </div>
  <div class="info-top">
    <ion-buttons slot="primary">
      <ion-button [routerLink]="'/ayuda/'">
        <ion-icon name="help-circle" size="large" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
      <div class="img-logo">
      <img src="../../assets/icon/icon-amore.svg" height="30px" [routerLink]="'/home/'">
    </div>
    <div class="bienvenido">
      <h1 style="font-weight:700">Ayuda</h1>
    </div>
  
  </ion-toolbar>
</ion-header> 
<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="danger" [routerLink]="'/home/'">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="img-help">
    <img src="../../assets/logo.svg" alt="">
  </div>
  <div class="titulo">
    <h1>SIGUENOS</h1>
  </div>
  <ion-list>
    <ion-item  mode="ios" detail href="https://www.facebook.com/DistanceSolution/">
      <ion-buttons slot="start">
        <ion-icon name="logo-facebook" style="color: gray;"></ion-icon>
      </ion-buttons>
      <div class="titulo-item">
      <h1>Facebook</h1>
    </div>
      <div class="subtitulo">
      <p>DistanceSolutions</p>
    </div>
    </ion-item>
    <ion-item  mode="ios" detail>
      <ion-buttons slot="start">
        <ion-icon name="logo-instagram" style="color: gray;"></ion-icon>
      </ion-buttons>
      <div class="titulo-item">
        <h1>Instagram</h1>
      </div>
        <div class="subtitulo">
        <p>DistanceSolutions</p>
      </div>
    </ion-item>
    <ion-item  mode="ios" detail lines="none" href="https://wa.me/5214423890469">
      <ion-buttons slot="start">
        <ion-icon name="logo-whatsapp" style="color: gray;"></ion-icon>
      </ion-buttons>
      <div class="titulo-item">
        <h1>Whatsapp</h1>
      </div>
        <div class="subtitulo">
        <p >442-3890-469</p>
      </div>
    </ion-item>
    <ion-item  mode="ios" detail lines="none" href="mailto: contacto@designylove.com">
      <ion-buttons slot="start">
        <ion-icon name="mail-outline" style="color: gray;"></ion-icon>
      </ion-buttons>
      <div class="titulo-item">
        <h1>Correo </h1>
      </div>
        <div class="subtitulo">
        <p style="margin-left: -38px;">contacto@designylove.com</p>
      </div>
    </ion-item>
  </ion-list>
  <div class="titulo">
    <h1>DESARROLLO</h1>
  </div>
  <ion-item detail mode="ios" href="https://wa.me/5217551136535">
    <ion-avatar slot="start">
      <img src="../../assets/img/avatar2.jpg">
    </ion-avatar>
    <div class="titulo-item">
      <h1>Roman Antonio Isidor</h1>
    </div>
    <div class="subtitulo">
      <p style="margin-left: -122px;">755-113-6535</p>
    </div>
  </ion-item>
  <ion-item detail mode="ios" lines="none" href="https://wa.me/5214423890469">
  <ion-avatar slot="start">
    <img src="../../assets/img/avatar1.jpg">
  </ion-avatar>
  <div class="titulo-item">
    <h1>Mauricio López</h1>
  </div>
  <div class="subtitulo">
    <p style="margin-left: -87px;">442-3890-469</p>
  </div>
</ion-item>
</ion-content>